.msg-usr {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    margin-right: 24px;
}

.msg-usr-img {
    width: 100%;
}

.body-content {
    margin-top: 90px;
}

.chat-text{
    font-size: 20pt;
}

.chat-img {
    width: 70px;
    border-radius: 100px;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.error {
    color: red;
    font-size: 14pt;
    margin-bottom: 10px;
}



