
@{
    ViewBag.Title = "Chat";
}

<form>
    <div class="form-group">
        <label for="message" style="font-size: 18pt;">Сообщение</label>
        <textarea id="message" class="form-control" rows="3" placeholder="Сообщение..."></textarea>
    </div>
    <button type="submit" class="btn btn-success" id="sendmessage" >Отправить</button>
    <div class="container">
        <input type="hidden" id="displayname" value="@Model.Name"/>
        <ul id="discussion"></ul>
    </div>
</form>

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
        $(function () {
            var chat = $.connection.chatHub;

            chat.client.addNewMessage = function (name, message) {
                $('#discussion').append('<li><b>' + name + '</b>:' + message + '</li>');
            };

            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    chat.server.send($('#displayname').val(), $('#message').val());
                    $('#message').val('').focus();
                });
            });
        });
        
    </script>

}



