WebSite.Models.MessageModel

@{
    ViewBag.Title = "Chat";
}



<form method="post">
    <div class="form-group">
        <label for="message" style="font-size: 18pt;">Сообщение</label>
        <input type="text" name="text" id="message" class="form-control" placeholder="Сообщение..." required />
    </div>
    <button type="submit" class="btn btn-success" id="sendmessage" >Отправить</button>
    <div class="container">
        <input type="hidden" id="displayname" name="UserNameFrom" value="@ViewBag.UserNameFrom" />
        <input type="hidden" id="toUserId" name="to" value="@ViewBag.UserIdTo" />
    </div>
    <div class="form-group">
        <ul id="chat">
            @foreach (var mes in Model)
            {
                <li><b>@mes.UserNameFrom</b>: @mes.Text</li>
            }
        </ul>
    </div>    
</form>



@section scripts{
    <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
        $(function () {
            var chat = $.connection.chatHub;

            chat.client.sendMessageAsync = function (from, message) {
                
                $('#chat').append('<li><b>' + from + '</b>:' + message + '</li>');
            };        

            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    chat.server.send($('#displayname').val(), $('#toUserId').val(), $('#message').val());
                    //$('#message').val('').focus();
                });
            });
        });
        
    </script>

}



