@{
    ViewBag.Title = "Сообщения";
}

<h2>Сообщения</h2>
<form class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
        <input class="form-control" type="text" placeholder="Фамилия Имя">
        <button type="submit" class="btn btn-primary">Поиск</button>
    </div>
</form>

<h2>Пользователи</h2>

<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td width="100">
                @* Show photo *@
                <img src="~/img/defaultPhoto.jpg" style="height: 100px; width: 100px;" />
                @user.Surname @user.Name
            </td>
            <td>Write this user...</td>
            <td align="right">
                <button type="submit" class="btn btn-success" onclick="window.open('@Url.Action("Chat", "Message", new { id = user.UserId })')">Открыть чат</button>
            </td>
        </tr>
    }
</table>







