
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/AuthorizationLayout.cshtml";
}

<h1>Registration</h1>

@using (Html.BeginForm("Register", "Authorization", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()

        <div class="form-group">
            <br />
            <label for="inputName">Name</label>
            <input type="text" class="form-control" id="inputName" name="name" required /><br/>

            <label for="inputSurname">Surname</label>
            <input type="text" class="form-control" id="inputSurname" name="surname" required /><br />

            <label for="inputAge">Age</label>
            <input type="number" class="form-control" id="inputAge" name="age" required /><br />

            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" name="password" required /><br />

            <label for="inputLogin">Login</label>
            <input type="text" class="form-control" id="inputLogin" name="login" required />
        </div><br />

        <label class="error">@ViewBag.ErrorMessage</label><br />

        <button type="submit" class="btn btn-success">OK</button>
    </div>
}


